<mat-card class="question-card mat-elevation-z8" fxLayout="column" fxLayoutGap="20px;" *ngIf="!done">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
    <u>Question No. {{question.questionNumber}}</u>
    <span>{{remainingTime}}</span>
  </mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <h2>{{ question.question }}</h2>
    <button mat-raised-button type="button" color="primary" class="choice-card" *ngFor="let choice of question.choices"
      (click)="choose(choice)" [disabled]="selectedAnswer && selectedAnswer !== choice"
      [class.correct]="displayCorrectAnswer && correctAnswer === choice.id"
      [class.wrong]="displayCorrectAnswer && selectedAnswer === choice && correctAnswer !== choice.id">
      {{ choice.description }}
    </button>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="done && correctCount === quiz.questions.length" fxLayout="row" fxLayoutAlign="center start">
  <h1>Congratulations! Reward will be transferred to you soon after verification.</h1>
</mat-card>
<mat-card *ngIf="done && correctCount !== quiz.questions.length" fxLayout="row" fxLayoutAlign="center start">
  <h1>Sorry, better luck next time. :(</h1>
</mat-card>
<mat-card *ngIf="done" fxLayout="row" fxLayoutAlign="center start">
  <button mat-raised-button type="button" color="primary" routerLink="" style="margin: 0 auto;">Return to
    Homepage</button>
</mat-card>