@media screen and (max-width: 992px) {
    .question-card {
        width: 100%;
        margin: 0 auto;
    }
    
    .choice-card {
        width: 100%;
        cursor: pointer;
    }
}

@media screen and (min-width: 992px) {
    .question-card {
        width: 70%;
        margin: 0 auto;
    }
    
    .choice-card {
        width: 100%;
        cursor: pointer;
    }
}

.correct {
    background-color: rgb(4, 177, 41) !important;
    color: white !important;
}

.wrong {
    background-color: rgb(212, 9, 9) !important;
    color: white !important;
}