<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
  <img src="/assets/logo.png" style="height: 75px">
  <span class="app-title">InforMefy</span>
</mat-toolbar>
