<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <mat-card class="countdown-card mat-elevation-z8">
    <mat-card-content class="break-word" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="start start" fxLayoutGap="5px">
      <span><b>Account Name: </b><span>{{identity.accountName}}</span></span>
      <span><b>Public Key: </b><span>{{encodedPublicKey}}</span></span>
      <span><b>Balance: </b><span>{{balance.balance | number: '1.2-2'}} IOST</span></span>
    </mat-card-content>
  </mat-card>
  <mat-card class="countdown-card mat-elevation-z8">
    <div fxLayout="column" fxLayoutAlign="start center" *ngIf="quizzes.length > 0">
      <h1>Next Game Starts In:</h1>
      <h1>{{rem.days | number: '2.0-0'}}D {{rem.hours | number: '2.0-0'}}H {{rem.minutes | number: '2.0-0'}}M
        {{rem.seconds | number: '2.0-0'}}S</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" *ngIf="quizzes.length === 0">
      <h1>There are currently no scheduled quizzes</h1>
    </div>
  </mat-card>

  <h2 *ngIf="quizzes.length > 0">Upcoming Games</h2>
  <mat-card *ngFor="let quiz of quizzes" class="schedule-card mat-elevation-z8" fxLayout="column"
    fxLayoutAlign="start center">
    <mat-card-title>{{quiz.quizName}}</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
      <span><b>Schedule: </b><span>{{quiz.startDateTime | date: 'medium'}}</span></span>
      <span><b>Sponsor: </b><span>{{quiz.sponsor}}</span></span>
      <span><b>Prize Pool: </b><span>{{quiz.prizepool | number: '1.2'}} IOST</span></span>
    </mat-card-content>
  </mat-card>
</div>