@media screen and (max-width: 992px) {
    .countdown-card {
        width: 100%;
    }

    .schedule-card {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .countdown-card {
        width: 50%;
        max-width: 702px;
    }
    .schedule-card {
        width: 50%;
        max-width: 670px;
    }
}

.break-word {
    word-break: break-all;
}